@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('http://sharefonts.net');

body {
    background-color: #485470;
}


.label{
    font-weight: 500;
    font-family: digiface;
    border: 6px dotted cadetblue;
    text-align: center;
    text-shadow: #929292;
    width: 40%;
    margin-left: 370px;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #faf879;
    

    

}




.digital-clock{
    position: relative;
    color: #fff;
    background: #2d2f41;
    width: 700px;
    padding: 20px 45px;
    padding-left: 24px;
    box-shadow: 0 5px 35px rgba(14, 21, 37, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: -20%;
    margin-top: 150px;
} 

.digital-clock:before{
    content: '';
    position: absolute;
    background: linear-gradient(45deg, #24ff6d, #2f93f1, #ff5e9a);
    background-size: 200% 200%;
    top: -20px;
    left: -8px;
    bottom: -8px;
    right: -8px;
    z-index: 1;
    filter: blur(150px);
    animation: glowing 10s ease infinite;
}

@keyframes glowing {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
    
}


.time{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hours, .dots, .minutes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6px;
    line-height: 100px;
    font-weight: 850;

}

.hours, .minutes{
    font-size: 6.5em;
    width: 100px;
    margin-left: 20px;

}

.dots{
    font-size: 2.7em;
    color: #929292;
    margin-left: 20px;
}

.hours{
    background: -webkit-linear-gradient(90deg, #634dff, #5fd4ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-left: 30px;
}

.minutes{
    background: -webkit-linear-gradient(90deg, #ff5e9a, #ffb960);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.right-side{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    
}

.period, .seconds{
    font-size: 2.2em;
    font-weight: 500;
    font-family: digiface normal;
}

.seconds{
    transform: translateY(16px);
    background: -webkit-linear-gradient(90deg, #24ff6d, #2f93f1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.period{
    transform: translateY(2px);
    background: -webkit-linear-gradient(90deg, #f7b63f, #faf879);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 12px;
}

.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 2px;
    background: -webkit-linear-gradient(90deg, #ae4af6, #ff98d1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.day-name, .day-number, .year{
    margin-left: 4px;
    margin-top: 1px;
    
}

.dot-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    font-style: normal;
    font-weight: 800;

}

.dot-menu{
    z-index: 999;
    position: absolute;
    top: 7px;
    right: 0px; 
    list-style: none;
    background: #353e54;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.5);
    visibility: visible; 
    opacity: 0.1;
    transition: 0.3s ease;
}

.dot-menu.active{
    visibility: visible;
    opacity: 1;
}

.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-format-text{
    color: #efefef;
    font-size: 0.9em;
    margin-right: 20px;
    margin-top: -15px;
}

.format-switch-btn{
    width: 35px;
    height: 15px;
    background: #485470;
    border-radius: 75px;
    box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.1),
                inset -2px -2px 4px rgba(0,0,0,0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.format-switch-btn:before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #ff5e9a;
    border-radius: 50%;
    box-shadow: 0 5px 25px #ff5e9a;
    transform: translateX(-10px);
}

.format-switch-btn.active:before{
    background: #0bff8d;
    box-shadow: 0 5px 25px #0bff8d;
    transform: translateX(10px);
    transition: 0.3s ease;
    transition-property: trasform;
}


